{% macro display(title, path, show_title=false) %}
{% set section = get_section(path=path) %}
<div class="is-flex is-flex-direction-column is-justify-content-center">
  <h2><a id="{{ section.extra.anchor }}" href="#{{ section.extra.anchor }}">{{ title }}</a></h2>
  <div class="is-hidden-touch">
    {{ section.content | safe }}
  </div>
  {% for page in section.pages %}
    <div class="is-flex is-flex-direction-row">
      <div class="content" style="width: 100%;">
        <table>
          <tr>
            {% if page.extra.image %}
            <td style="width: 128px;">
              <a href="{{ page.extra.link }}">
                  {% if page.extra.image is starting_with("http") %}
                  <img src="{{ page.extra.image }}">
                  {% else %}
                  <img src="{{ get_url(path=page.extra.image) }}">
                  {% endif %}
              </a>
            </td>
            {% endif %}
            <td>
              <a href="{{ page.extra.link }}">
                <h4>{{ page.title }}</h4>
                {{ page.content | markdown() | safe }}
              </a>
            </td>
          </tr>
        </table>
      </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}