{% import 'macros/head.html' as macros_head -%}
{% import 'ui/side_menu.html' as side_menu -%}
{% import 'ui/top_menu.html' as top_menu -%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ macros_head::stylesheet() }}
  <title>Alex Baker</title>
</head>

<body>
  <div id="sidebar" class="menu">
    {{ macros_head::avatar() }}
    {{ side_menu::display() }}
  </div>
  <div id="topbar">
    {{ top_menu::display() }}
  </div>

  <section class="section">
    <div id="content" class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>