{% import 'partials/about.html' as partial_about -%}
{% import 'partials/section.html' as partial_section -%}
{% import 'partials/simple_section.html' as simple_section -%}

{% extends "base.html" %}

{% block content %}
<div id="fullpage">
  <div class="section" id="about">
    {{ partial_about::display() }}
  </div>
  <div class="section" id="services">
    {{ simple_section::display(path="services.md") }}
  </div>
  <hr>
  <h3>Open Source</h3>
  <div class="section" id="chess">
    {{ partial_section::display(title="Chess Packages", path="chess/_index.md") }}
  </div>
  <div class="section" id="packages">
    {{ partial_section::display(title="Other Packages", path="packages/_index.md") }}
  </div>
</div>
{% endblock content %}